* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fc;
} */

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    background:
        linear-gradient(135deg,
            #f8fbff,
            #fff7fc);
}
/* Top Gradient Blob */

body::before {
    content: "";
    position: absolute;

    width: 500px;
    height: 500px;

    top: -150px;
    left: -150px;

    border-radius: 50%;

    background:
        radial-gradient(circle,
            rgba(93, 168, 255, 0.25),
            transparent 70%);

    filter: blur(40px);
}

/* Bottom Gradient Blob */

body::after {
    content: "";
    position: absolute;

    width: 600px;
    height: 600px;

    bottom: -200px;
    right: -150px;

    border-radius: 50%;

    background:
        radial-gradient(circle,
            rgba(255, 120, 199, 0.25),
            transparent 70%);

    filter: blur(50px);
}

.container {
    width: 90%;
    max-width: 1200px;
    min-height: 650px;

    position: relative;
        z-index: 10;
    display: flex;

    border-radius: 25px;
    overflow: hidden;

    background: white;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Left Section */

.left-section {
    flex: 1;

    background:
        linear-gradient(135deg,
            #5da8ff,
            #ff78c7);

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 40px;
}

.left-section h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.left-section p {
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.left-section img {
    width: 320px;
    max-width: 100%;
}

/* Right Section */

.right-section {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.login-box {
    width: 100%;
    max-width: 420px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;

    font-size: 2rem;
}

/* Inputs */

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 14px 60px;
    font-size: 18px;
    border: 2px solid #ddd;
    border-radius: 13px;

    outline: none;
}

.input-box i:first-child {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #5da8ff;
}

/* Login Button */

.login-btn {
    width: 100%;
    font-size: 18px;
    padding: 14px;

    border: none;
    border-radius: 10px;

    color: white;

    cursor: pointer;

    background:
        linear-gradient(90deg,
            #5da8ff,
            #ff78c7);

    transition: 0.3s;
}

.login-btn:hover {
    transform: translateY(-3px);

    box-shadow:
        0 10px 25px rgba(93, 168, 255, 0.4);
}

/* Divider */

.divider {
    text-align: center;
    margin: 20px 0;
    color: #888;
}

/* Google Button */

.google-btn {
    width: 100%;
    font-size: 18px;
    padding: 14px;

    border: 1px solid #ddd;
    border-radius: 10px;

    background: white;

    cursor: pointer;

    transition: 0.3s;
}

.google-btn:hover {
    background: #f8f9fc;
}

.google-btn i {
    color: #ea4335;
    margin-right: 10px;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    text-decoration: none;
    color: #5da8ff;
    font-weight: 600;
}

/* Responsive */

@media(max-width:768px) {

    .container {
        flex-direction: column;
    }

    .left-section {
        padding: 30px;
    }

    .left-section img {
        width: 220px;
    }

    .left-section h1 {
        font-size: 2rem;
    }
}
